<footer class="bg-dark text-light py-5" style="margin-top: 15vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>"Get a comfortable and affordable ride with us.!"</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/">Services</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <address>
            Vikram Cosmetics<br>
            Chowk<br>
            Faizabad, 224001<br>
            <br>
            Phone: +91-951xxxxxxx0<br>
            Email: din-vik-kus@gmail.com
          </address>
        </div>
      </div>
      <hr>
      <p class="text-center">&copy; 2023 My Company. All Rights Reserved.</p>
    </div>
  </footer>
  