
<app-navbar></app-navbar>

<div class="container" style="margin: auto; margin-top: 15vh; background-color: rgb(242, 242, 242); width: 40vw; height: 8vh;">

  <div class="row" style="margin: auto;">
    <div class="col-sm-4 text-primary" routerLinkActive="active"><button class="btn btn-primary" (click)="userClicked()">User Signup</button></div>
    <div class="col-sm-4 text-primary" routerLinkActive="active"><button class="btn btn-primary" (click)="driverClicked()">Driver Signup</button></div>
    
  </div>

   

</div>

<app-signup-user *ngIf="isUser"></app-signup-user>
<app-signup-driver *ngIf="isDriver"></app-signup-driver>

<app-footer></app-footer>

