<div class="container" style="margin: auto; margin-top: 15vh; background-color: rgb(255 253 253); width: 40vw; height: 8vh;">

  <div class="row" style="margin: auto;">
    <div class="col-sm-4 text-primary" routerLinkActive="active"><button class="btn btn-primary" (click)="userClicked()">User Login</button></div>
    <div class="col-sm-4 text-primary" routerLinkActive="active"><button class="btn btn-primary" (click)="driverClicked()">Driver login</button></div>
    <div class="col-sm-4 text-primary" routerLinkActive="active"><button class="btn btn-primary" (click)="adminClicked()">Admin Login</button></div>
  
  </div>

   

</div>

<app-login-user *ngIf="isUser"></app-login-user>
<app-login-driver *ngIf="isDriver"></app-login-driver>
<app-login-admin *ngIf="isAdmin"></app-login-admin>

