
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            Forgot Password
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="email">Please Enter your Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <app-footer></app-footer>